<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ABC Services</title>
    <style>


        .top {
            font-size: 2em;
            font-weight: bold;
            color: cornflowerblue;
            padding-top: 0.3em;
        }

        td, th {
            padding: 0.5em 0.5em;
            background: azure;
        }

        th {
            background: darkturquoise;
            font-weight: bold;
        }

        table, tr, td, th {
            border: 1px solid dodgerblue;
        }

        .content {
            margin: 1em;
        }
        .cdesc{
            font-size: 1.2em;
            font-weight: bold;
            color: darkturquoise;
        }
    </style>
</head>
<body>
<div class="top">
    Welcome to ABC Bank
    <hr/>
</div>
<div class="content">
    <div style="column-count: 1">You have requested help with following services:
        <br/><br/><br/>

        <div th:each="cnt : ${counters}">
            <span class="cdesc">Counter No. <span th:text="${cnt.getId()}"/></span>
            <table>
                <thead>
                <tr>
                    <th>Token Number</th>
                    <th>Requested Service</th>
                </tr>
                </thead>
                <tr th:each="tkn : ${cnt.getQueuedCustomers()}">
                    <td th:text="${tkn.getTokenNum()}"></td>
                    <td th:text="${tkn.getType()}"></td>
                </tr>
            </table>
            <br/><br/>
        </div>
    </div>

</div>
</body>
</html>