<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ABC Services</title>
    <style>
        .svc {
            padding-bottom: 1em
        }

        .desc {
            font-size: 1em;
            font-weight: bold;
            padding-left: 0.5em;
        }

        .top {
            font-size: 1.25em;
        }
    </style>
</head>
<body>
<div class="top">Welcome, please choose the services we can help you with:</div>
<form th:action="@{/register-request}" method="post">
<div class="svc" th:each="svc : ${services}">
    <input type="checkbox" th:value="${svc.getAuthority()}" name="service"><span class="desc" th:text="${svc}"/></input>
</div>
<input type="submit" value="submit"/>
</form>
</body>
</html>