<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ABC Services</title>
    <style>

        .top {
            font-size: 2em;
            font-weight: bold;
            color: cornflowerblue;
            padding-top: 0.3em;
        }

        .tkn-num {
            font-weight: bold;
            color: white;
            background: darkblue;
            padding: 0.3em 0.3em;
            font-size: 1.2em;
            position: relative;
            top: 2em;
        }

        .content {
            margin: 1em;
        }
    </style>
</head>
<body>
<div class="top">
    Welcome to ABC Bank
    <hr/>
</div>
<br/>
<div class="content">
    <span class="tkn-num">Current Token Queue Count is  <span th:text="${count}"/></span>
</div>
</body>
</html>