<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ABC Services</title>
    <style>

        .svc-span {
            padding-bottom: 1em;
            background: darkblue;
            font-size: 1em;
            color: white;
            font-weight: bold;
            padding: 0.5em 1em;
            margin-right: 0.5em;
        }

        .svc-gap {
            padding: 0em 2em;
        }

        .top {
            font-size: 2em;
            font-weight: bold;
            color: cornflowerblue;
            padding-top: 0.3em;
        }

        .tkn-num {
            font-weight: bold;
            color: white;
            background: darkblue;
            padding: 0.3em 0.3em;
            font-size: 1.2em;
            position: relative;
            top: 2em;
        }

        .content {
            margin: 1em;
        }
    </style>
</head>
<body>
<div class="top">
    Welcome to ABC Bank
    <hr/>
</div>
<div class="content">
    <div>You have requested help with following services:
        <br/><br/><br/>
        <span th:each="svc: ${services}" th:text="${svc}" class="svc-span"/><span class="svc-gap"/>
    </div>

    <span class="tkn-num">Your token number is  <span th:text="${tokenNum}"/></span>
</div>
</body>
</html>